# Node.js dependencies (if applicable)
node_modules/

# Environment variables
config/.env
.env

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Compiled Python files
*.pyc
__pycache__/


# Data files
data/*.csv


# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
